.header {
  background-color: #2196F3;
  padding: 0 16px;
  height: 48px;
}

.drawerNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navButton {
  padding: 0 16px;
  height: 100%;
  color: #FFFFFFB2;
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    background-color: #42A5F5;
  }
}
.active{
  color: white;
  background-color: #1E88E5;
}
